/* ABOUT BLOCK  */

.ABOUTTEXT {
    font-size: 11em;
    color: black;
    position: absolute;
    bottom: 1%;
    left: -2%;
    opacity: .1;
}
#NavBar{
    backdrop-filter: blur(10px);
}

#AboutMe {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
}

.a1 h1 {
    margin: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

.a2 {
    width: 40em;
    text-align: justify;
    position: relative;
}

.a2 p {
    margin: 15px;
}

.a1 {
    width: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6d334;
    margin: 15px;
    border-radius: 2px;
}
.descriptionSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

@media (max-width:700px) {
    .a2 {
        width: 33em;
        font-size: 0.8em;
    }
}

@media (max-width:500px) {
    .a2 {
        width: 25em;
        font-size: 0.6em;
    }
}

.myImage img {
    width: 38vw;
    border-radius: 10px;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
}