/* PROJECT PAGE STYLING */

.PROJECTTEXT {
    font-size: 8em;
    color: black;
    position: absolute;
    top: 0%;
    left: -2%;
    opacity: .1;
    writing-mode: vertical-rl;
    /* font-family: 'Noto Sans JP', sans-serif; */

}

#Projects {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* MIDDLE BLOCKS FOR PROJECT PAGE */

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    position: relative;
}


.project1,
.project2,
.project3 {
    display: flex;
    width: 80vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    position: relative;
}

.lp {
    width: fit-content;
    height: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.rp {
    width: 50vw;
    height: 10em;
    margin-left: -15vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.rp p {
    margin: 3em;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.lp .img {
    width: 30em;
    border-radius: 5px;
}

.projectHeading {
    position: absolute;
    top: -5em;
    right: 2em;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #facf0f;
    width: 15vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* TOOLS USED */
.usedTools {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 115%;
    right: 27%;
}

.usedTools img {
    width: 30px;
    margin: 20%;
}



/* COROUSEL SLIDING STYLES */

.nextDiv,
.prevDiv {
    color: black;
    background-color: transparent;
    width: 4%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
    border: 0px solid black;

}

.nextDiv:hover,
.prevDiv:hover {
    transition: 1s ease;
    background-color: #ffec96;
}

.nextDiv {
    transform: rotate(90deg) translateX(250%)
}

.prevDiv {
    transform: rotate(90deg) translateX(-150%);
}

.corouselDots {
    flex-direction: column;
    position: absolute;
    top: 26%;
    display: flex;
    left: 105%;
    align-items: center;
    justify-content: center;
}

.corouselDots button {
    width: 0.6em;
    height: 0.6em;
    margin: 60%;
    border-radius: 100%;
    background-color: rgb(163 163 163);
    cursor: pointer;
    border: 0px solid black;
}




/* JAVA SCRIPT CLASSES FOR PROJECT PAGE */

.active{
    transition: 0.2s ease;
    background-color: #facf0f !important;
    width: 0.8em !important;
    height: 0.8em !important;
}




/* MEDIA QUERIES FOR PROJECT PAGE */
@media (max-width:1030px) {
    .prevDiv {
        transform: rotate(90deg) translateX(-200%);

    }

    .nextDiv {
        transform: rotate(90deg) translateX(300%);
    }
    .projectHeading{
        width: 22vw;
    }

}

@media (max-width:950px) {
    .rp {
        width: fit-content;
        height: 10em;
        z-index: 1;
    }

    .rp p {
        font-size: 0.8em;
    }

    .lp .img {
        width: 50vw;
    }

}

@media (max-width:700px) {

    .rp p {
        font-size: 0.6em;
    }

    .rp {
        height: 6em;
    }

    .projectHeading {
        top: -30%;
        width: fit-content;
        height: fit-content;
        font-size: 0.8em;
        background-color: transparent;
    }
    .project1,
    .project2,
    .project3 {
        flex-direction: column;
        margin-top: 0%;
        height: 50vh;
        align-items: flex-start;
    }

    .usedTools {
        position: static;
        flex-direction: column;
        margin-left: 10%;
        margin-top: 5%;
    }

    .usedTools img {
        margin-bottom: 50%;
        width: 20px;
    }

    .rp {
        margin-left: 0%;
        margin-top: 0%;
    }

    .projectHeading {
        position: relative;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        margin-bottom: 5%;
    }

    .corouselDots button {
        width: 0.7em;
        height: 0.7em;
    }

    .active {
        width: 0.8em;
        height: 0.8em;
    }

    .corouselDots {
        top: 32%;
        left: 96%;
    }

    .prevDiv,
    .nextDiv {
        width: 10%;
        height: 5%;
    }

    .prevDiv {
        transform: rotate(90deg) translateX(-90%);
    }

    .nextDiv {
        transform: rotate(90deg) translateX(120%);
    }
    .footer{
        position: sticky;
    }
}

@media (max-width:450px) {
    .projectHeading {
        font-size: 0.8em;
    }

    .rp p {
        font-size: 0.5em;
    }

}


/* ANIMATION CLASSES FOR PROJECT PAGE */


.slideDown {
    animation: slideDown 0.7s ease;
    transition: 0.5s ease;
}

@keyframes slideDown {
    0% {
        opacity: .5;
        transform: translateY(-40%);
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }

}

.slideUp {
    animation: slideUp 0.7s ease;
    transition: 0.5s ease;
}

@keyframes slideUp {
    0% {
        opacity: .5;
        transform: translateY(50%);
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }

}